
<div class="container">


<div class="box">
  <h2>login register</h2>
  <form>

<div class="form-group inputbox">

  <input type="text" class="form-control" required="">
  <label>username:</label>
</div>
    <div class="form-group inputbox">

      <input type="password" class="form-control" required="">
      <label>password:</label>
    </div>
    <div class="form-group inputbox">

      <input type="password" class="form-control" required="">
      <label>confirm password:</label>
    </div>
<input type="submit" name="submit" value="register">
  </form>

</div>
</div>